@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: "Muli" sans-serif;
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}
.container {
  width: 90vw;
  &[class*="page-home"] {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
}
.card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  @media (max-width: 480px) {
    grid-template-columns: 1fr;
    gap: 15px;
  }
  .card-item {
    padding: 20px;
    background-color: #eee;
    border-radius: 20px;
    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease-in;
      -webkit-line-clamp: unset;
      max-height: none;
      .card-item__description {
        -webkit-line-clamp: unset;
        max-height: none;
      }
    }
    .card-item-head {
      width: 100%;
      overflow: hidden;
      .card-item__image {
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 10px;
        img {
          width: 100%;
        }
      }
    }
    .card-item-body {
      padding: 10px 0;
      .card-item-title {
        font-size: 1.2rem;
        margin-bottom: 10px;
      }
      .card-item__description {
        font-size: 0.9rem;
        line-height: 1.4;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 0.3s ease-in-out;
        &.expanded {
          -webkit-line-clamp: unset;
          max-height: none;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
}
